[Desktop Entry]
Type=Application
Version=1.0
Name=CHIRP
GenericName=Radio Programming Tool
Comment=Program amateur radios
Icon=/home/kenneth/.local/share/pipx/venvs/chirp/lib/python3.14/site-packages/chirp/share/chirp.ico
Exec=/home/kenneth/.local/bin/chirp
Terminal=false
MimeType=x-scheme-handler/chirp
Categories=Utility;HamRadio
Keywords=Hamradio;Programming;Handheld;Radio;Amateur;Programmer
StartupNotify=true
StartupWMClass=chirpw
