[Desktop Entry]
Type=Application
Version=1.0
Name=CHIRP
GenericName=Radio Programming Tool
Comment=Program amateur radios
Icon=/home/kenneth/Documents/AppImages/chirp.ico
Exec=/home/kenneth/Documents/AppImages/Chirp-next-20261002-x86_64.AppImage
Terminal=false
MimeType=x-scheme-handler/chirp
Categories=Utility;HamRadio
Keywords=Hamradio;Programming;Handheld;Radio;Amateur;Programmer
StartupNotify=true
StartupWMClass=chirpw
